html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

header {
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(202, 199, 199);
  padding: 10px 20px;
}

header #logo {
  display: flex;
  align-items: center;
}

header #logo p {
  margin-left: 10px;
  color: rgb(13, 13, 38);
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
}

header #left-container {
  display: flex;
  flex-direction: column;
}

#left-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 21px;
}

header #left-container ul {
  display: flex;
  margin-top: 10px;
}

#left-container ul li {
  font-family: "Montserrat", sans-serif;
  margin-right: 25px;
}

#left-container ul p {
  margin-right: 10px;
}

nav #nav-container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(20, 20, 62);
}

.nav-search a {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
}

.nav-search .cat {
  background-color: rgb(202, 199, 199);
  color: rgb(13, 13, 38);
}

.nav-search .srh {
  color: white;
  background-color: rgb(255, 60, 0);
}

.nav-search input {
  width: 200px;
  height: 30px;
}

#nav-container ul {
  display: flex;
}

#nav-container ul li {
  margin: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footer {
  margin: 0;
  background-color: #2D4059;
}

.footer-infos {
  display: flex;
  justify-content: center;
  padding: 5vh;
}

.footer-infos-card {
  display: flex;
  margin: 3vh;
}

.footer-infos-card-text {
  text-wrap: wrap;
  width: 25vh;
  color: #E5E5E5;
  font-family: "montserrat";
}

.footer-infos-card-img {
  margin: 5vh 5vh;
  background-color: aliceblue;
  padding: 2vh;
  border-radius: 100%;
}

.footer-infos-card-titre {
  color: #E5E5E5;
  font-family: "montserrat";
}

.footer-section {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.footer-section-list {
  margin: 7vh 7vh 7vh 7vh;
}

.footer-section-list-textD {
  text-align: end;
  font-family: "montserrat";
}

.footer-section-list-textG {
  font-family: "montserrat";
}

.footer-copyright-text {
  color: #E5E5E5;
  text-align: center;
  line-height: 5vh;
  vertical-align: middle;
  margin-bottom: 5vh;
  font-family: "montserrat";
}

body {
  margin: 0;
}

.product {
  display: flex;
  justify-content: space-around;
}

.product-list {
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 5vh;
}

.product-produit {
  margin-top: 10vh;
  margin-left: 15vh;
  margin-right: 15vh;
}

.product-list-titre {
  display: flex;
  margin-bottom: 4vh;
}

.product-list-titre-txt {
  font-family: "montserrat";
}

.product-list-titre-item {
  margin: 2vh;
  list-style: url("../product-img/Ellipse_5.png");
  font-family: "montserrat";
}

.product-list-titre-img {
  margin-top: 0vh;
  margin-right: 2vh;
}

.product-produit-itembar {
  display: flex;
  justify-content: space-around;
}

.product-produit-itembar-G {
  display: flex;
  justify-content: space-between;
  margin-right: 25vh;
}

.product-produit-itembar-G-img {
  margin-right: 3vh;
  margin-top: 2vh;
}

.product-produit-itembar-G-txt {
  margin-right: 3vh;
  font-family: "montserrat";
}

.product-produit-itembar-D-bouton {
  border: none;
  padding: 2vh;
  color: white;
  background-color: #EA5455;
  border-radius: 5%;
  font-family: "montserrat";
}

.product-produit-itembar-D-bouton-fleche {
  margin-left: 1.5vh;
}

.product-produit-itemcard {
  box-shadow: 0 0 0.4em lightgray;
  display: flex;
  padding: 5vh;
  margin-top: 5vh;
  border-radius: 10px;
}

.product-produit-itemcard-img {
  margin-right: 5vh;
}

.product-produit-itemcard-txt {
  margin-right: 40vh;
  font-family: "montserrat";
}

.product-produit-itemcard-txt-elmnt {
  margin: 3.5vh;
}

.product-produit-littlcard {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.product-produit-littlcard-item {
  padding: 2vh;
  box-shadow: 0 0 0.4em lightgray;
}

.product-produit-littlcard-item-txt {
  font-family: "montserrat";
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.product-produit-littlcard-item-divt {
  display: flex;
  justify-content: space-between;
  font-family: "montserrat";
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-top: 120px;
  margin-left: 250px;
  font-size: xx-large;
  font-weight: bold;
  color: orangered;
}

.cards-section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card img {
  width: 300px;
  height: 200px;
}

.card {
  margin: 10px;
  width: 250px;
  height: 260px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.113);
  padding: 20px;
}

.card h5, p {
  margin-top: 2px;
  font-size: small;
}

.card .container {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.card .stock {
  color: rgb(141, 223, 17);
}

h2 {
  margin-top: 180px;
  margin-left: 250px;
  font-size: xx-large;
  font-weight: bold;
  color: orangered;
}

h2 span {
  color: black;
  font-size: small;
}

.categories-section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.categories-section .categorie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: rgb(23, 70, 145);
  border-radius: 10px;
  margin: 10px;
}

.categorie p {
  font-weight: 600;
  margin-top: 7px;
  font-size: x-large;
}

.pics-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.pics-section .pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.pics img {
  width: 340px;
  height: 250px;
}

.pics p {
  color: orangered;
  font-weight: bold;
  font-size: x-large;
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
