
header {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 199, 199);
    padding: 10px 20px;
}

header #logo {
    display: flex;
    align-items: center;
}

header #logo p {
    margin-left: 10px;
    color: rgb(13, 13, 38); 
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

header #left-container {
    display: flex;
    flex-direction: column;
    
}

#left-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

header #left-container ul {
    display: flex;
    margin-top: 10px;
}

#left-container ul li {
    font-family: 'Montserrat', sans-serif;
    margin-right: 25px;
}

#left-container ul p {
    margin-right: 10px;
}


// ---------------------------- Navbar ---------------------------


nav #nav-container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(20, 20, 62);
}

.nav-search a {
   margin: 10px;
   padding: 5px 10px;
   border-radius: 6px;
   font-family: 'Montserrat', sans-serif;
}
 
.nav-search .cat {
    background-color: rgb(202, 199, 199);
    color: rgb(13, 13, 38);
}

.nav-search .srh {
    color: white;
    background-color: rgb(255, 60, 0);
}

.nav-search input {
    width: 200px;
    height: 30px;
}

#nav-container ul {
    display: flex;
}


#nav-container ul li{
    margin: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}