.footer {
    margin: 0;
    background-color: #2D4059;
}

.footer-infos {
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.footer-infos-card {
    display: flex;
    margin: 3vh;
    
}

.footer-infos-card-text {
    text-wrap: wrap;
    width: 25vh;
    color: #E5E5E5;
}
.footer-infos-card-img {
    margin: 5vh 5vh;
    background-color: aliceblue;
    padding: 2vh;
    border-radius: 100%;
}

.footer-infos-card-titre {
    color: #E5E5E5;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.footer-section-list {
    margin: 7vh 7vh 7vh 7vh;
}

.footer-section-list-textD {
    text-align: end;
}

.footer-copyright {
    
}

.footer-copyright-text {
    color: #E5E5E5;
    text-align: center;
    line-height: 5vh;
    vertical-align: middle;
    margin-bottom: 5vh;
}